* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
	font-family: 'TildaSansLight';
	src: url('/font/TildaSans-Light.eot');
	src:
	     url('/font/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
	     url('/font/TildaSans-Light.woff2') format('woff2'),
	     url('/font/TildaSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

span {
    font-family: "TildaSansLight", sans-serif;
    color: white;
}

.main_page {
    display:flex;
    background-color: #1771f1;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
}
.lines {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headline_text_1 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
}
.headline_text_2 {
    line-height: 1.17;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 80px 0px 38px 0px;
}
.headline_text_3 {
    font-size: 24px;
}
.arrow_down {
    background-color: #1771f1;
    border: none;
    width: 50px;
    height: 25px;
    position: relative;
    top: 270px;
    animation: moveUpDown 2s infinite;
    cursor: pointer;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* Начальное положение */
    }
    50% {
        transform: translateY(-10px); /* Двигаем вверх на 50px */
    }
    100% {
        transform: translateY(0); /* Возвращаемся в начальное положение */
    }
}

.page_2 {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
}
.headline_text_4 {
    color: rgb(165, 165, 165);
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 14px;
    letter-spacing: 2.5px;
    text-align: center;
    font-weight: bold;
}
.headline_text_5 {
    padding-top: 8px;
    padding-bottom: 3px;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    color: #000000;
}
.headline_text_6 {
    padding-bottom: 60px;
    padding-top: 41px;
    font-size: 24px;
    line-height: 1.45;
    font-weight: 300;
    color: #000000;
    text-align: center;

}
.headline_text_7 {
    padding-top: 105px;
    padding-bottom: 9px;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 1.35;
    color: #000000;
}
.headline_text_8 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    padding-top: 22px;
    padding-bottom: 5px;
    text-align: center;
    color: #000000;
    font-weight: 300;
    padding-bottom: 135px;

}

.btn {
    text-align: center;
    border: 3px solid #000000;
    background-color: #1771f1;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-decoration: none;

}

.btn_text {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.page_3 {
    background-color: #eeeeee;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
}
.headline_text_9 {
    padding-top: 180px;
    color: black;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 40px;
}
.headline_text_10 {
    font-size: 64px;
    font-weight: 900;
    color: black;
    padding-bottom: 60px;

}
.headline_text_11 {
    color: rgb(1, 20, 47);
    font-size: 24px;
    font-weight: 300;
    width: 960px;
    line-height: 1.50;   
    text-align: center;
    padding-bottom: 180px;
}

b {
    font-weight: 900;
}

a {
    text-decoration: none;
}


.page_4 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.headline_text_12 {
    color: #000000;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}
.files_list {
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-bottom: 250px;

}
.file_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.file_img {
    width: 115px;
    margin-top: 40px;
}
.file_text_1 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
}

.page_5 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;

}
.headline_text_13 {
    color: #000000;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
}
.files_list_2 {
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-bottom: 160px;
    padding-top: 100px;
}
.cyrcle {
    background-color: #222;
    border: 2px solid #fff;
    position: relative;
    margin-bottom: 20px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: "TildaSansLight", sans-serif;

}
.file_text_2 {
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    font-family: "TildaSansLight",Arial , sans-serif;
}

.headline_text_14 {
color: #000000;
margin-top: 40px;
font-size: 24px;
padding-bottom: 150px;
}

footer {
    background-color: #0e3d7f;
    display: flex;
    height: 200px;
    align-items: center;
}

.contact {
    color: gray;
    font-size: 24px;
}

@media (max-width: 768px) {
    .headline_text_2 {
        font-size: 48px;
    }
    .headline_text_5 {
        font-size: 36px;
    }
    .headline_text_7 {
        font-size: 36px;
    }
    .headline_text_9 {
        font-size: 48px;
    }
    .headline_text_10 {
        font-size: 40px;
    }
    .headline_text_11 {
        font-size: 18px;
        width: 100%;
    }
    .headline_text_12 {
        font-size: 24px;
    }
    .files_list {
        flex-direction: column;
        gap: 50px;
    }
    .files_list_2 {
        flex-direction: column;
        gap: 50px;
    }
    .headline_text_13 {
        font-size: 30px;
    }
    .arrow_down {
        top: 150px;
    }
    .btn {
        padding-left: 30px;
        padding-right: 30px;
        height: 40px;
    }
    .btn_text {
        font-size: 12px;
    }
    .file_text_1 {
        font-size: 18px;
    }
    .file_img {
        width: 80px;
    }
    .file_text_2 {
        font-size: 16px;
    }
    .cyrcle {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .headline_text_14 {
        font-size: 18px;
    }
    .contact {
        font-size: 18px;
    }
}
